@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

*{
    padding: 0;
    margin: 0;
}

.logo-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 10vh;
}

.logo {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo h1 {
    font-family: "Oswald", "Arial";
    font-size: 40px;
    color: black;
    font-weight: medium;
}

.logo span {
    padding: 20px 0 0 0;
    font-family: "PlayfairDisplay", "sans serif";
    font-weight: bold;
}

 .empty, .spinner {
    width: 10%;
    display: flex;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-right: 6rem;
}

#spin {
    height: 6rem;
    width:  6rem;
    position: relative;
    animation: rotation 6s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

#arrow{
  display: inline-block;
  float: left;
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 35%;
}

#arrow:before{
  content:'';
  height:4px;
  width:20px;
  background-color:#000;
  display:block;
  float:left;
  position:relative;
  top:9px;
  transition:0.2s ease-in-out;
}

#arrow:after{
  content:'';
  float:left;
  border-left:11px solid #000;
  border-right:11px solid transparent;
  border-top:11px solid transparent;
  border-bottom:11px solid transparent;
}
