@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

*{
    padding: 0;
    margin: 0;
}

.logo-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 10vh;
}

.logo {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo h1 {
    font-family: "Oswald", "Arial";
    font-size: 40px;
    color: black;
    font-weight: medium;
}

.logo span {
    padding: 20px 0 0 0;
    font-family: "PlayfairDisplay", "sans serif";
    font-weight: bold;
}

.empty, .spinner {
    width: 10%;
    display: flex;
}

.spinner {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.spinner-container {
    position: relative;
}

.spinner-container img {
    height: 50px;
    width: 50px;
    position: absolute;
}

